data-retrieval.txt
[{"id":"7307a4aa.d5137c","type":"inject","z":"da3e1928.5f05a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":60,"wires":[["1cb26f38.151501"]]},{"id":"1cb26f38.151501","type":"function","z":"da3e1928.5f05a8","name":"","func":"msg.payload = new Buffer([0x50,0x00,0x00,0x01,\n0x0e,0x10,0x67,0x01,0x20,0x05,0x02,0x9c,0x00,0x9a]);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":150,"y":140,"wires":[["d6b3b55.76f8248"]]},{"id":"d6b3b55.76f8248","type":"tcp request","z":"da3e1928.5f05a8","server":"10.204.12.17","port":"4950","out":"time","splitc":"0","name":"","x":280,"y":220,"wires":[["975aed16.bd76e"]]},{"id":"31eded28.f4ace2","type":"debug","z":"da3e1928.5f05a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":260,"wires":[]},{"id":"975aed16.bd76e","type":"function","z":"da3e1928.5f05a8","name":"","func":"msg.payload = new Buffer(msg.payload);\nmsg.payload = msg.payload.slice(15, 19);\nmsg.payload = msg.payload.readFloatBE(0).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["31eded28.f4ace2"]]}]