Simulation.txt
[{"id":"322fe205.6a3dfe","type":"inject","z":"d26347f0.6251e8","name":"tempIT102","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":110,"y":40,"wires":[["843fea58.d817a8"]]},{"id":"d7e80c01.3f9f5","type":"inject","z":"d26347f0.6251e8","name":"tempIT125","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"3","x":110,"y":100,"wires":[["12cc29d4.5fcdd6"]]},{"id":"e9d64ba4.b505f8","type":"inject","z":"d26347f0.6251e8","name":"tempIT203","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"5","x":110,"y":160,"wires":[["a9803cf5.fdc6"]]},{"id":"7e11ecc4.536a84","type":"inject","z":"d26347f0.6251e8","name":"tempIT204","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"8","x":110,"y":220,"wires":[["f99c1ca7.98db5"]]},{"id":"843fea58.d817a8","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempIT102\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempIT102; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["9358c29a.2b735"]]},{"id":"12cc29d4.5fcdd6","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempIT125\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempIT125; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["c04ed344.43307"]]},{"id":"a9803cf5.fdc6","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempIT203\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempIT203; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["3afff814.08df88"]]},{"id":"9358c29a.2b735","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["e0f8c98b.438a68"]]},{"id":"e0f8c98b.438a68","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{query}}}","tls":"","x":630,"y":40,"wires":[[]]},{"id":"c04ed344.43307","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["949f2e6.66bb8d"]]},{"id":"949f2e6.66bb8d","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{query}}}","tls":"","x":630,"y":100,"wires":[[]]},{"id":"3afff814.08df88","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["df468248.cde42"]]},{"id":"df468248.cde42","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{query}}}","tls":"","x":630,"y":160,"wires":[[]]},{"id":"f99c1ca7.98db5","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempIT204\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempIT204; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["1d1c138.8f8bfed"]]},{"id":"1d1c138.8f8bfed","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["7798a4ef.5cc5ec"]]},{"id":"7798a4ef.5cc5ec","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{query}}}","tls":"","x":630,"y":220,"wires":[[]]},{"id":"b07bab69.6b26a8","type":"inject","z":"d26347f0.6251e8","name":"tempENG105","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":120,"y":280,"wires":[["c0afb25.271ec5"]]},{"id":"ea5a0617.36dfc8","type":"inject","z":"d26347f0.6251e8","name":"tempENG118","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"13","x":120,"y":340,"wires":[["f68458a5.f3fad8"]]},{"id":"c6c92f98.169d","type":"inject","z":"d26347f0.6251e8","name":"tempENG206","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"16","x":120,"y":400,"wires":[["121a584.30eb0a8"]]},{"id":"d40847b4.115f48","type":"inject","z":"d26347f0.6251e8","name":"tempENG208","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"19","x":120,"y":460,"wires":[["dc82c1ad.80101"]]},{"id":"c0afb25.271ec5","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempENG105\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempENG105; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["a9a123fa.b5ae1"]]},{"id":"f68458a5.f3fad8","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempENG118\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempENG118; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["826a1936.026888"]]},{"id":"121a584.30eb0a8","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempENG206\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempENG206; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["a9f1f67d.878fa8"]]},{"id":"dc82c1ad.80101","type":"function","z":"d26347f0.6251e8","name":"","func":"var sensorValue = (Math.random() * (25.00 - 15.00) + 15.00 ).toFixed(2);\nvar date = new Date();\nvar formattedDate = date.toISOString()\nmsg.payload = \"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX bot: <https://w3id.org/bot#> PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#> PREFIX nuig: <http://www.nuig.ie/bms/> PREFIX qudt-1-1: <http://qudt.org/1.1/schema/qudt#> PREFIX qudt-unit-1-1: <http://qudt.org/1.1/vocab/unit#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>   INSERT DATA {  nuig:tempENG208\"+formattedDate+\" rdf:type ssn:Observation;   ssn:observedBy nuig:tempENG208; ssn:observationSamplingTime '\"+formattedDate+\"'^^xsd:dateTime; ssn:observedProperty nuig:Temperature; ssn:hasValue '\"+sensorValue+\"'^^xsd:float; qudt-1-1:unit qudt-unit-1-1:DegreeCelsius . }\";\nmsg.payload = encodeURIComponent(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["30489510.d4dcfa"]]},{"id":"a9a123fa.b5ae1","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["b1c16ab2.c786a8"]]},{"id":"826a1936.026888","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["1842e6b.3eb0919"]]},{"id":"a9f1f67d.878fa8","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["ea514ea1.9022b"]]},{"id":"30489510.d4dcfa","type":"change","z":"d26347f0.6251e8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":460,"wires":[["662e92c5.91382c"]]},{"id":"b1c16ab2.c786a8","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{query}}}","tls":"","x":630,"y":280,"wires":[[]]},{"id":"1842e6b.3eb0919","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{query}}}","tls":"","x":630,"y":340,"wires":[[]]},{"id":"ea514ea1.9022b","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{query}}}","tls":"","x":630,"y":400,"wires":[[]]},{"id":"662e92c5.91382c","type":"http request","z":"d26347f0.6251e8","name":"","method":"POST","ret":"txt","url":"http://localhost:7200/repositories/NUIGBMS/statements?update={{{msg.payload}}}","tls":"","x":630,"y":460,"wires":[[]]}]